
/* Début nav */
nav {
    display: grid;
    grid-template-columns: 40% 1fr;
    justify-content: end;
    align-items: center;
}




.titre div:last-child {
    display: grid;
    justify-content: start;
    padding-left: 15%;
}


/* Début Sections explications */


#eclo-imgtxt,#evo-imgtxt,#envol-imgtxt {
    display: grid;
    grid-template-columns: 40% 1fr;
}

#eclo-img,
#evo-img,
#envol-img {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}


