/* Font family +  */
@font-face {
    font-family: "Ubuntu";
    src: url('../fontfamily/Ubuntu-Light.ttf');
}

/* Début nav */
nav {
    display: grid;
    grid-template-columns: 40% 1fr;
    justify-content: end;
    align-items: center;
}

.logo img {
    padding-left: 3%;
    width: 200px;
}



.titre div:last-child {
    display: grid;
    justify-content: start;
    padding-left: 15%;
}


/* Début Sections explications */
#eclo-titre,
#evo-titre,
#envol-titre {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

#eclo-imgtxt,#evo-imgtxt,#envol-imgtxt {
    display: grid;
    grid-template-columns: 40% 1fr;
}

#eclo-img,
#evo-img,
#envol-img {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}


