body
    font-family: 'Ubuntu', sans-serif

header
    height: 15vh

main
    .banniere
        background-color: $bg-blue
        .row
            height: 40vh
            .col-8
                h1
                    font-size: 3.5rem
    .eclo-links
        @include section-links
    .evo-links
        @include section-links
    .envol-links
        @include section-links
    p
        padding: 5px
    h3
        @include btn-b

footer
    background-color: $bg-grey
    img
        width: 50px

@media screen and (min-width: 320px)
    header
        div
            img
                display: none
    main
        p
            padding: 15px
            margin: 0

@media screen and (min-width: 768px)
    header
        div
            img
                display: inline
